# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment configuration files
venv/
env/
ENV/
.venv/
.ENV/

# Ignore editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore operating system configuration files
.DS_Store
Thumbs.db

# Ignore log configuration files
*.log

# Ignore local database configuration files
db.sqlite3

# Ignore Django migration files
*/migrations/*

# Ignore generated static files
staticfiles/
media/

# Ignore deployment configuration files
*.env
.env.*

# Ignore unnecessary JSON files
*.json

# Ignore test coverage configuration files
htmlcov/
.coverage
.coverage.*

# Ignore cache configuration files
.cache/
*.cache

# Ignore pytest configuration files
.pytest_cache/

# Ignore Jupyter Notebooks configuration files
.ipynb_checkpoints/

# Ignore Celery configuration files
celerybeat-schedule
celerybeat.pid

# Ignore Docker configuration files
docker-compose.override.yml