# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment configuration files
venv/
env/
ENV/
.venv/
.ENV/

# Ignore editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore operating system configuration files
.DS_Store
Thumbs.db

# Ignore log configuration files
*.log

# Ignore local database configuration files
db.sqlite3

# Ignore Django migration files except __init__.py
*/migrations/*
!*/migrations/__init__.py

# Ignore generated static files
staticfiles/
media/