<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'home/pong/pong.css' %}">
	<link rel="stylesheet" href="{% static 'home/nav.css' %}">
</head>
<body>
	{% if user.is_authenticated %}
	{% csrf_token %}

	<h1 class="title-cyan-big mb-4">MY FRIENDS</h1>

	<div class="mw-100 container mb-3">
		<div class="row py-2">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col-4 button-container">
				<button class="button-borders button-left" onclick="router('/friends')">Friends</button></a>
				<button class="button-borders button-middle"  onclick="router('/friends/pending')">Pending</button></a>
				<button class="button-borders button-right" style= "background-color: #343a40; color: cyan;" onclick="router('/friends/invited')" disabled>Invited</button></a>
			</div>
			<div class="col-6">
				<form id="fSearchFriend">
					<div class="row">
						<div class="col-8">
							<input id="iSearch" name="searchQuery" class="form-control" type="search" placeholder="Search">
						</div>
						<div class="col-2">
							<button class="registerPlayer-button" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>

	{% if page_obj %}
		<div class="mw-100 container mb-3">
			{% for invitation in page_obj %}
				<div class="row py-2">
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col-3 text-start">
						<h5>
							{{invitation.accepter}}
						</h5>
					</div>
					<div class="col text-start">
						<h5>
							{% if invitation.accepter.connections > 0 %}
								online
							{% else %}
								offline
							{% endif %}
						</h5>
					</div>
					<div class="col"></div>
					<div class="col text-start">
						<button class="btn btn-danger btn-sm" onclick="deleteFriend('{{invitation.id}}')">Delete</button>
					</div>

					<div class="col"></div>
					<div class="col"></div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p class="orbitron-font-small">No invitations sent</p>
	{% endif %}

	{% if page_obj.has_other_pages %}
		<div class="text-justified">
			<nav>
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="friends/invited?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}
				<span class="page-current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
					{% if page_obj.has_next %}
						<a href="friends/invited?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</nav>
		</div>
	{% endif %}



{% else %}
	<p class="orbitron-font-small">log in to have access to your account</p>
{% endif %}

</body>
</html>
