{% if user.is_authenticated %}

	<h1 class="text-info mb-4">FRIENDS</h1>

	<div class="mb-3">
		<button onclick="router('/friends')">Friends</button></a>
		<button onclick="router('/friends/pending')" disabled>Pending</button></a>
		<button onclick="router('/friends/invited')">Invited</button></a>
		<button onclick="router('/friends/search')">Search</button></a>
	</div>

	{% if page_obj %}
		<div class="mw-100 container mb-3">
			{% for invitation in page_obj %}
				<div class="row py-2">
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col text-start">
						{{invitation.giver}}
					</div>
					<div class="col text-end">
						<button>Accept</button>
						<button>Reject</button>
					</div>
					<div class="col"></div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No invitations recived</p>
	{% endif %}

	{% if page_obj.has_other_pages %}
		<div class="text-justified">
			<nav>
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="history?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}
				<span class="page-current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
					{% if page_obj.has_next %}
						<a href="history?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</nav>
		</div>
	{% endif %}



{% else %}
	log in to have access to your account
{% endif %}
