{% if user.is_authenticated %}
	{% csrf_token %}	
	<h1 class="text-info"> PROFILE </h1> 
	<div class="container text-center">
		<div class="row">
			<div class="col">
				{% load static %}
				<img id="imAvatar" src="{% static 'home/images/avatar.png' %}" class="img-fluid" width="30" height="30">
				<input hidden id="fileAvatar" type="file" onchange="checkAvatar()" accept="image/*">
					<button id="bEditAvatar" class="btn btn-warning btn-sm" onclick="editAvatar()">Edit</button>
					<button id="bSaveAvatar" hidden class="btn btn-success btn-sm" onclick="changeAvatar()">Save</button>
					<button id="bCancelAvatar" hidden class="btn btn-danger btn-sm" onclick="cancelAvatar()">Cancel</button>
					<div id="dErrorAvatar"></div>
				<div>
					<div id="dNick">{{nick}}</div>
					<input hidden id="iNick" maxlength=15 value=""></input>
					<button id="bEdit" class="btn btn-warning btn-sm" onclick="editNick()">Edit</button>
					<button id="bSave" hidden class="btn btn-success btn-sm" onclick="changeNick()">Save</button>
					<button id="bCancelNick" hidden class="btn btn-danger btn-sm" onclick="cancelNick()">Cancel</button>
					<div id="dError"></div>
				</div>
			</div>
			<div class="col">
				<nav>
					<a class="px-3 text-decoration-none" href="/friends">FRIENDS</a>
					<a class="px-3 text-decoration-none" href="/history">MATCH HISTORY</a>
				</nav>
				<!-- <button>Friends</button>
					 <button>Match History</button> -->
			</div>
		</div>
	</div>
	<div class="container mb-3 h5 text-center align-self-center bg-info text-white">
		STATS
	</div>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col text-start">
				Matches:
			</div>
			<div class="col text-start">
				{{num_matches}}
			</div>
			<div class="col"></div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col text-start text-success">
				Won:
			</div>
			<div class="col text-start text-success">
				{{total_win}}
			</div>
			<div class="col text-start text-success">
				Percentage:
			</div>	
			<div class="col text-start text-success">
				{{percent_win|floatformat:1}}%
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col text-start text-danger">
				Lost:
			</div>
			<div class="col text-start text-danger">
				{{total_lose}}
			</div>	
			<div class="col text-start text-danger">
				Percentage:
			</div>	
			<div class="col text-start text-danger">
				{{percent_lose|floatformat:1}}%
			</div>
		</div>
		<div class="row mt-3">
			<div class="col"></div>
			<div class="col text-start">
				Points:
			</div>
			<div class="col text-start">
				{{total_points}}
			</div>	
			<div class="col"></div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col text-start text-success">
				Won:
			</div>
			<div class="col text-start text-success">
				{{points_win}}
			</div>	
			<div class="col text-start text-success">
				Percentage:
			</div>	
			<div class="col text-start text-success">
				{{percent_points_win|floatformat:1}}%
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col text-start text-danger">
				Lost:
			</div>
			<div class="col text-start text-danger">
				{{points_lose}}
			</div>	
			<div class="col text-start text-danger">
				Percentage:
			</div>	
			<div class="col text-start text-danger">
				{{percent_points_lose|floatformat:1}}%
			</div>
		</div>
		<br>
	</div>

{% else %}
	log in to have access to your account
{% endif %}
