{% load static %}

<div id="chat-container" class="container mt-4">
    <h1>¡Live Chat!</h1>
    <div id="chat-box" class="mb-4">
        <div class="message-container">
            <img src="{% static 'chat/images/avatar2.jpeg' %}" alt="Avatar" class="avatar">
            <div class="message received">Hola, ¿cómo estás?</div>
        </div>
        <div class="message-container">
            <div class="message sent">¡Estoy bien, gracias!</div>
        </div>
    </div>

    <!-- Formulario para enviar mensajes -->
    <form id="chat-form">
        <input type="text" id="message-input" placeholder="Escribe tu mensaje..." />
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
