/* Estilos para el contenedor principal */
.wrapper {
    display: block;
    max-width: 2xl;
    margin: 10px auto;
    padding: 6px;
}

/* Estilos para la ventana de chat */
#chat_window {
    height: 45rem;
    display: flex;
    flex-direction: column;
    background-color: #2d3748; /* bg-gray-800 */
    border-radius: 2xl;
    box-shadow: 2xl;
    position: relative;
    padding: 1px;
}

/* Estilos para la cabecera de la ventana de chat */
#chat_window .flex.justify-center {
    color: #38b2ac; /* text-emerald-400 */
    background-color: #2d3748; /* bg-gray-800 */
    padding: 2px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Estilos para el contenedor de mensajes */
#chat_container {
    overflow-y: auto;
    flex-grow: 1;
}

/* Estilos para la lista de mensajes */
#chat_messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2px;
    padding: 4px;
}

/* Estilos para el formulario de mensajes */
.sticky.bottom-0.z-10.p-2.bg-gray-800 {
    position: sticky;
    bottom: 0;
    z-index: 10;
    padding: 2px;
    background-color: #2d3748; /* bg-gray-800 */
}

.flex.items-center.rounded-xl.px-2.py-2 {
    display: flex;
    align-items: center;
    border-radius: xl;
    padding: 2px 2px;
}

#chat_message_form {
    width: 100%;
}