<!-- Plantillas para mensajes -->
<template id="receivedMessageTemplate">
    <div class="message-container">
        <img data-content="avatar" class="avatar mt-1" alt="Avatar">
        <div class="message received" data-content="message"></div>
    </div>
    <div class="user-info" style="margin-top: -10px; margin-left: 50px">
        <small class="text-" data-content="username"></small>
    </div>
</template>

<template id="sentMessageTemplate">
    <div class="message-container">
        <div class="message sent" data-content="message"></div>
    </div>
</template>
