<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'home/pong/pong.css' %}">
	<link rel="stylesheet" href="{% static 'home/nav.css' %}">
</head>
<body>
    {% autoescape off %}
    Welcome to ft_trascendence {{user.username}}.
    
    <p class="orbitron-font-small">Please click on the link to confirm your registration.</p>
    
    http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
    {% endautoescape %}
       
</body>
</html>
