<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'home/pong/pong.css' %}">
	<link rel="stylesheet" href="{% static 'home/nav.css' %}">
</head>
<body>
	<h1 class="title-cyan-big"> LOG IN </h1>
	<div class="container fixed-width text-center">
		<form method="post" class="mb-3" id="fLogin">
		{% csrf_token %}
		<div class="row mb-4">
			<div class="col-3"></div>
			<div class="col-2 text-start orbitron-font-medium white">
				{{ form.username.label_tag }}
			</div>
			<div class="col-2 text-start">
				{{ form.username }}
			</div>
			<div class="col-3"></div>
			<div class="w-100 my-1"></div>
			<div class="col-3"></div>
			<div class="col-2 text-start orbitron-font-medium white">
				{{ form.password.label_tag }}
			</div>
			<div class="col-2">
				{{ form.password }}	
			</div>
			<div class="col-3"></div>
		</div>
		<input type="submit" id="blogin" value="login" class="registerPlayer-button">
		</form>
		<p hidden class="orbitron-font-small red" id="pError">Please enter a correct username and password. Note that both fields may be case-sensitive.</p>
	</div>
	<!--<p><a href="{% url 'password_reset' %}">¿Forgot your password?</a></p>-->
</body>
</html>
