{% load static %}
<header class="flex items-center justify-between bg-gray-800 h-20 px-8 text-white sticky top-0 z-40">
    <div>
        <a class="flex items-center gap-2" href="/">
            <img class="h-6" src="{% static 'images/logo.svg' %}" alt="Logo"/>
            <span class="text-lg font-bold">Real-time Chat</span>
        </a>
    </div>
    <nav class="block relative">
        <ul class="navitems flex items-center justify-center h-full">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>
                    <a href="{% url 'profile' %}">My Profile</a>
                </li>
                {% comment %} <li>
                    <a href="{% url 'account_logout' %}">Log Out</a>
                </li> {% endcomment %}
            {% else %}
                <li><a href="{% url 'home' %}">Home</a></li>  <!-- O redirige a otra página -->
            {% endif %}
        </ul>
    </nav>
</header>
