/* Estilo para el contenedor del chat */
#chat-container {
    text-align: left; /* Alinea el texto a la izquierda */
    display: block; /* Muestra el contenedor como un bloque */
    width: 100%; /* Ancho completo del contenedor */
    max-width: 600px; /* Ancho máximo de 600px */
    /* height: 725px; /* Altura de 700px <---------cambiar luego esto para tamono normal */
    height: 400px;
    background-color: #9c95cdd7; /* Color de fondo con transparencia */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta el contenido que se desborda */
    box-shadow: 0px 4px 10px #211e39d7; /* Sombra alrededor del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    position: relative; /* Posiciona el contenedor de forma relativa */
}

/* Estilo para el área de mensajes */
#boxMessages {
    height: calc(100% - 100px);
    /* height: 600px; <---------cambiar esto al tamaño normal qque se vera*/
    overflow-y: auto;
    padding: 10px;
    background-color: #211e39d7;
    border-radius: 10px;
}

/* Estilo para el formulario */
#chat {
    display: flex; /* Muestra el formulario como bloque */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    background-color: #9c95cdd7;
}

/* Contenedor de mensajes */
.message-container {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

/* Estilos para los mensajes */
.message {
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    font-family: Arial, sans-serif;
}

/* Mensajes enviados */
.message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Mensajes recibidos */
.message.received {
    background-color: #ffffff;
    align-self: flex-start;
    margin-right: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ajustes para el nombre del usuario debajo del mensaje recibido */
.user-info {
    text-align: left; /* Alineación a la izquierda */
    margin-bottom: 5px; /* Espacio debajo */
}

/* Estilo para el nombre del usuario NO CARGA*/
#user-info {
    font-size: 0.8em; /* Tamaño de la fuente */
    color: #9c95cd; /* Color del texto */
}

/* Estilo para el avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#message {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}
