<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel="stylesheet" href="{% static 'home/home.css' %}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav id="nMenu"></nav> <!-- Menú de navegación generado por JS -->
		<div class="container-fluid position-relative">
			<div class="bouncing-ball"></div>
			<span class="pong-home bungee-tint-regular">PONG</span>
			<div class="line top"></div>
			<div class="line right"></div>
			<div class="line bottom"></div>
			<div class="line left"></div>
		</div>
		<script src="{% static 'home/menu.js' %}"></script> <!-- Asegúrate de incluir el archivo JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>	