<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'home/pong/pong.css' %}">
</head>
<body>
	<h1 class="text-info">PONG</h1>
	<p>
		<div id="dStartOptions">
			<button id="bNormalGame" type="button" onclick="startOneVsOne()">1 vs 1 Game</button> 
			<button id="bTournament" type="button" onclick="startTournamentMode()">Tournament</button>	
			<button id="bSettings" type="button" onclick="showCustomizationOptions()">Settings</button>
		</div>
		<div hidden id="dEndTournament">
			<button type="button" onclick="endTournament()">End Tournament</button>
		</div>
	</p>
	<div class="container mt-4" id="dOneVsOneSettings" hidden>
		<p>
			<select id="sOpponent" onchange="setOpponent()">
				<option value="0" selected> Player Vs Player </option>
				<option value="1"> Player Vs AI </option>
			</select>
			<select id="sDifficulty" onchange="setDifficulty()" style="visibility: hidden">
				<option value="0"> Easy </option>
				<option value="1" selected> Medium </option>
				<option value="2"> Hard </option>
				<option value="3"> Impossible </option>
			</select>
		</p>
	</div>
	<div class="bg-info container" id="dTournamentSettings" hidden>
		<h4 class="p-4 text-white">CREATE TOURNAMENT</h4>
		<p>
			<select id="sNumPlayers" name="selectPlayers" onchange="selectNumPlayers()">
				<option value="4" selected> 4 Players </option>
				<option value="8"> 8 Players </option>
				<option value="16"> 16 Players </option>
			</select>
		</p>
		<div class="d-inline-flex flex-column">
			<div class="d-inline-flex flex-row">
				<div class="d-flex-column p-3 align-self-center">
					<div class="d-inline-flex flex-row">
						<div class="px-3">
							<input id="iNick" class ="border-3" type="text" minlength="3" maxlength="12" placeholder="Enter nick"></input>
						</div>
						<div class="px-3">
							<button id="bRegisterPlayer" type="button" onclick="addPlayer()"> Add Player >> </button>
						</div>
					</div>
					<div class="px-3 m-2 d-flex justify-content-start">
						<label id="lNickWarning" class="bg-white text-danger">Nick too short</label>
					</div>
				</div>
				<div>
					<textarea class="border-3" id="tPlayers" cols="20" rows="16" readonly style="resize: none"></textarea>
				</div>
			</div>
			<div class="p-3">
				<button id="bCreate" style="visibility: hidden" type="button" onclick="startTournament()">Start Tournament</button>
			</div>
		</div>
	</div>
	<!-- Game Customization Menu -->
    <div hidden id="dCustomizationOptions">
		<h2>Game Customization</h2>
		<form id="customizationForm">
			<div class="container py-3">
				<div class="row">
					<div class="col-sm"></div>
					<div class="col-sm text-start">
						<label for="playerSize">Player Size:</label>
					</div>
					<div class="col-sm text-start">
						<select id="playerSize">
							<option value=30>Small</option>
							<option value=50 selected>Normal</option>
							<option value=70>Big</option>
						</select>
					</div>
					<div class="col-sm text-start">
						<label for="ballSpeed">Ball Start Speed:</label>
					</div>
					<div class="col-sm text-start">
						<select id="ballSpeed">
							<option value=6>Slow</option>
							<option value=7.5 selected>Normal</option>
							<option value=10>Fast</option>
						</select>
					</div>
					<div class="col-sm"></div>
				</div>  
				<div class="row py-3">
					<div class="col-sm"></div>
					<div class="col-sm text-start">
						<label for="playerSpeed">Player Speed:</label>
					</div>
					<div class="col-sm text-start">
						<select id="playerSpeed">
							<option value=3>Slow</option>
							<option value=5 selected>Normal</option>
							<option value=7>Fast</option>
						</select>
					</div>
					<div class="col-sm text-start">
						<label for="ballSpeedUp">Ball Speed Up:</label>
					</div>
					<div class="col-sm text-start">
						<select id="ballSpeedUp">
							<option value=1>None</option>
							<option value=1.02 selected>Normal</option>
							<option value=1.05>Fast</option>
						</select>
					</div>
					<div class="col-sm"></div>
				</div>
				<div class="row py-3">
					<div class="col-sm"></div>
					<div class="col-sm text-start">
						<label for="boardSize">Board size:</label>
					</div>
					<div class="col-sm text-start">
						<select id="boardSize">
							<option value="small">Small</option>
							<option value="normal" selected>Normal</option>
							<option value="big">Big</option>
						</select>
					</div>
					<div class="col-sm text-start">
						<label for="allowFreezeFlip">Allow Freeze Flip power up:</label>
					</div>
					<div class="col-sm text-start">
						<input type="checkbox" id="allowFreezeFlip" />
					</div>
					<div class="col-sm"></div>
				</div>
			</div>
		</form>
	</div>	
	<p>
		<div class="mt-4" hidden id="dMatchPlayers">
			<div class="d-inline-flex flex-row align-self-center">
				<div class="">
					<h4><label class="bg-info" style="display:block;width:300px" id="lLeftPlayer">Player 1</label></h4>
				</div>
				<div class="">
					<h4><label style="display:block;width:50px" id="lVs"> VS </label></h4>
				</div>
				<div class="">
					<h4><label class="bg-info" style="display:block;width:300px" id="lRightPlayer">Player 2</label></h4>
				</div>
			</div>
		</div>
		<div class="mt-4" hidden id="dWinner">
			<div class="d-inline-flex flex-row align-self-center">
					<h4 class="bg-info">&nbspWINNER&nbsp<label  id="lWinner"></label>&nbsp</h4>
			</div>
		</div>
		<div class="mt-5" hidden id="dChampion">
			<div class="d-inline-flex flex-row align-self-center">
				<div>
					<h1 class="bg-info">&nbspCHAMPION&nbsp<label  id="lChampion"></label>&nbsp</h4>
				</div>
			</div>
		</div>
	</p>

	<!-- <canvas id="board" style="visibility: hidden;"></canvas> -->
	<canvas id="board" style="visibility: hidden;" height="500" width="700"></canvas>
	<div class="p-3" hidden id="dStartGame">
		<button type="button" onclick="startPong()"> Start !! </button>
	</div>
	<div class="p-3" hidden id="dAdvance">
		<button type="button" onclick="advance()"> Next Match </button>
	</div>
</body>
</html>
